
html, body{
	background-image: url(https://www.ba.senac.br/assets/images/bibliotecas.jpg);
	background-position:top;
	
}

.layer {
	background-color: #081e35;
    opacity: 0.95;
    position: absolute;
    width: 100%;
    height: 91%;
}

.navbar {
	font-family: 'Franklin Gothic Medium', sans-serif;
	background-color: #ffc400;
	z-index: 1;
	height: 56px;
}

.navbar-brand {
	font-size: 22px;
	margin-left: 20px;
	margin-right: 40px;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.container .row {
	margin: 60px 0px 0px 80px;
	color: white;
}

.container table {
	font-family: 'Century Gothic', sans-serif;
	color: white;
	border-radius: 10px;
	background-color: #04356994;
}

.container thead {
	color: #ffc400;
}

.container th, .container td {
	border: none;
	font-size: 15px;
}

.container .row h2 {
	font-family: 'Century Gothic', sans-serif;
	font-size: 50px;
	color: white;
}

.container .row h4{
	font-weight: lighter;
	font-size: 18px;	
}

.container .bookname {
	margin-top: 30px;
	margin-left: 80px;
	margin-bottom: 20px;
}

.container .desc {
	margin-right: 80px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #04356994;
	padding-top: 30px;
	padding-bottom: 20px;
}

.imgautor {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	height: 100%;
}

.m-5 {
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.imglivro {
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 10px;
	width: 94%;
}

.container .row h3 {
	font-family: 'Century Gothic', sans-serif;
	display: inline;
	font-size: 18px;
}

.container .desc .left {
	float: left;
	text-align: right;
	font-weight:bold;
	font-style: italic;
}

.container .desc .col-9 {
	margin-left: 0px;
	padding-left: 0;
}

.desc .col-8 {
padding-top: 20px;
}

.lineinfo {
	margin-bottom: 15px;
}